PATH = /home/dan/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
MAILTO = davison@stats.ox.ac.uk

## check for email every few minutes
# */5 * * * * getmail-dan >/dev/null 2>&1

## sync bash history (?experimental)
## */1 * * * * sync-history

## check for differences and publish splitpac
## */1 * * * * /home/dan/work/papers/split/tpb/compile-and-publish

## run mairix every day at 11:23
23 11 * * * mairix

## update org every day at 12:23
23 12 * * * git-pull-org

## update org-babel
## */10 * * * * cd /home/dan/src/org-babel && git pull | grep -vF 'Already up-to-date.'

## check for org-babel updates
## */10 * * * * cd /home/dan/src/org-babel && git fetch | grep . && notify-git-org-babel

## test
## */10 * * * * notify-test

## make tags file at 13:23
23 13 * * * make-tags-file

