<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>my.clean-login</string>
    <key>ProgramArguments</key>
    <array>
      <string>defaults</string>
      <string>-currentHost</string>
      <string>delete</string>
      <string>com.apple.loginwindow</string>
      <string>TALAppsToRelaunchAtLogin</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
