<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutomaticDictionarySuggestionPolicyStateV1</key>
	<data>
	eyJyZWNvcmRzIjp7ImEgaGFuZGxlXHUwMDFmZ29vZCI6eyJvY2N1cnJlbmNlcyI6Wzgw
	NjYxMzgwMy40NTU1MzVdLCJoZWFyZFRleHQiOiJhIGhhbmRsZSIsImRpc21pc3NhbENv
	dW50IjowLCJjb3JyZWN0ZWRUZXh0IjoiZ29vZCIsImlzQWNjZXB0ZWQiOmZhbHNlfSwi
	d2hhdCBpcyB0b3VyXHUwMDFmYXNrIGNoYXRncHQiOnsib2NjdXJyZW5jZXMiOls4MDY2
	MzU2ODQuMTU5NDc2XSwiaGVhcmRUZXh0IjoiV2hhdCBpcyB0b3VyIiwiZGlzbWlzc2Fs
	Q291bnQiOjAsImNvcnJlY3RlZFRleHQiOiJBc2sgQ2hhdEdQVCIsImlzQWNjZXB0ZWQi
	OmZhbHNlfSwiZXhpc3RlZFx1MDAxZmV4aXN0ZWQgd2l0aCB3ZmEiOnsib2NjdXJyZW5j
	ZXMiOls4MDY2MTUxNjEuMjkxNDRdLCJoZWFyZFRleHQiOiJleGlzdGVkIiwiZGlzbWlz
	c2FsQ291bnQiOjAsImNvcnJlY3RlZFRleHQiOiJleGlzdGVkIHdpdGggV0ZBIiwiaXNB
	Y2NlcHRlZCI6ZmFsc2V9LCJ2ZXJzdXNcdTAwMWZ2cyI6eyJvY2N1cnJlbmNlcyI6Wzgw
	NjYxNDcwMC4xMjg2MDRdLCJoZWFyZFRleHQiOiJ2ZXJzdXMiLCJkaXNtaXNzYWxDb3Vu
	dCI6MCwiY29ycmVjdGVkVGV4dCI6InZzIiwiaXNBY2NlcHRlZCI6ZmFsc2V9LCJ3aGF0
	XHUwMDFmQHRheWxvciBraGFuIHdoYXQiOnsib2NjdXJyZW5jZXMiOls4MDY2MTU5NjMu
	NTAwMDM5XSwiaGVhcmRUZXh0IjoiV2hhdCIsImRpc21pc3NhbENvdW50IjowLCJjb3Jy
	ZWN0ZWRUZXh0IjoiQFRheWxvciBLaGFuIHdoYXQiLCJpc0FjY2VwdGVkIjpmYWxzZX0s
	InNhXHUwMDFmc2FhIjp7Im9jY3VycmVuY2VzIjpbODA2NjE1NDA4Ljc1MjgwNV0sImhl
	YXJkVGV4dCI6IlNBIiwiZGlzbWlzc2FsQ291bnQiOjAsImNvcnJlY3RlZFRleHQiOiJT
	QUEiLCJpc0FjY2VwdGVkIjpmYWxzZX19fQ==
	</data>
	<key>AvailableModelsByProvider</key>
	<dict>
		<key>custom:fluid-1</key>
		<array>
			<string>fluid-1</string>
		</array>
		<key>fluid-1</key>
		<array>
			<string>fluid-1</string>
		</array>
	</dict>
	<key>CustomDictionaryEntries</key>
	<data>
	W3sidHJpZ2dlcnMiOlsiZG90IGZpbGUiXSwiaWQiOiJFRDE5NTM2RS0yN0Q3LTRENDYt
	QjI2OC04RUI1MTg5REVGODAiLCJyZXBsYWNlbWVudCI6ImRvdGZpbGUifSx7InRyaWdn
	ZXJzIjpbInNpbWxpbmsiXSwiaWQiOiI0RkY0Q0QwNS01N0ZDLTQ5NjEtQUMyOC1GRTFD
	RkEwQjAzQ0EiLCJyZXBsYWNlbWVudCI6InN5bWxpbmsifSx7InRyaWdnZXJzIjpbIm1p
	dHQgaXQiLCJwZXJtaXR0ZWQiLCJlbWl0dGVkIiwibWlzc2lvbiIsImknbSBtaXNzaW5n
	IGl0IiwiYSBtaXNzaW9uIiwiZW1pc3Npb24iXSwiaWQiOiJCNTM1ODY3MS00NjBELTRC
	RUMtOUY1NS1BMjk0RUYwOENFRUQiLCJyZXBsYWNlbWVudCI6Im9taXR0ZWQifSx7InRy
	aWdnZXJzIjpbIm9taXR0ZWQiLCJkdWRlIiwieWVhaCJdLCJpZCI6IkYzNTU3RkM3LUU3
	QzYtNDIxRC1CNjhDLTY1NDQwQkYwQzUzMiIsInJlcGxhY2VtZW50IjoiZW1pdHRlZCJ9
	LHsidHJpZ2dlcnMiOlsic2FzcyB0ZW1wbGUiLCJzYXN0aW11bCIsInNhc3MgdGVtcG9y
	YWwiXSwiaWQiOiJBNzhGNjk3OS1CRTJDLTRGMDktQTQ0Qi1DRkM4MTNCNDBCODQiLCJy
	ZXBsYWNlbWVudCI6InNhYXMtdGVtcG9yYWwifV0=
	</data>
	<key>DictationPromptOff</key>
	<true/>
	<key>EnableAIProcessing</key>
	<false/>
	<key>EnableDebugLogs</key>
	<true/>
	<key>ExperimentalDirectAudioCaptureEnabled</key>
	<false/>
	<key>ExperimentalDirectAudioCaptureForcedOff</key>
	<true/>
	<key>FluidIntelligenceMLXUpgrade163OfferPrepared</key>
	<false/>
	<key>FluidIntelligenceSelectedModelID</key>
	<string>fluid-1</string>
	<key>HotkeyShortcutKey</key>
	<data>
	eyJrZXlDb2RlIjo0Nywia2luZCI6ImtleWJvYXJkIiwibW9kaWZpZXJGbGFnc1Jhd1Zh
	bHVlIjoxMDQ4NTc2fQ==
	</data>
	<key>LaunchAtStartup</key>
	<false/>
	<key>LegacySecondaryPromptShortcutRetired</key>
	<true/>
	<key>OnboardingAISkipped</key>
	<false/>
	<key>OnboardingCompleted</key>
	<true/>
	<key>OnboardingCurrentStep</key>
	<integer>0</integer>
	<key>OnboardingPlaygroundSkipped</key>
	<false/>
	<key>OnboardingPlaygroundValidated</key>
	<false/>
	<key>OnboardingSelectedLanguageID</key>
	<string>en</string>
	<key>OverlayBottomOffset</key>
	<real>50.0</real>
	<key>OverlayBottomOffsetMigratedTo50</key>
	<true/>
	<key>PreferredInputDeviceUID</key>
	<string>BuiltInMicrophoneDevice</string>
	<key>PreferredOutputDeviceUID</key>
	<string>BuiltInSpeakerDevice</string>
	<key>PrimaryDictationShortcuts</key>
	<data>
	W3sia2luZCI6ImtleWJvYXJkIiwibW9kaWZpZXJGbGFnc1Jhd1ZhbHVlIjoxMDQ4NTc2
	LCJrZXlDb2RlIjo0N31d
	</data>
	<key>PrivateAIProviderContextDefaultMigratedTo4K</key>
	<true/>
	<key>PrivateAIProviderContextTokenLimit</key>
	<integer>4096</integer>
	<key>PromptModeShortcutEnabled</key>
	<false/>
	<key>SecondaryDictationPromptOff</key>
	<true/>
	<key>SecondaryPromptShortcutRemoved</key>
	<true/>
	<key>SelectedModelByProvider</key>
	<dict>
		<key>custom:fluid-1</key>
		<string>fluid-1</string>
		<key>fluid-1</key>
		<string>fluid-1</string>
		<key>openai</key>
		<string>gpt-4.1</string>
	</dict>
	<key>SelectedProviderID</key>
	<string>openai</string>
	<key>SelectedSpeechModel</key>
	<string>parakeet-tdt</string>
</dict>
</plist>
